.filters-summary {
  .deleteButton {
    display: flex;
    justify-content: center;
    background-color: var(--color-danger-lighter);
    color: var(--color-gray-99);
    border: none;
    border-radius: var(--border-radius);
    padding: 0.5rem 1rem;
    font-size: 0.875rem;
    font-weight: 600;
    
    cursor: pointer;
    margin: 0.625rem 0;
    transition:
      background-color 0.3s ease,
      transform 0.2s ease;
  }

  .bottom-container {


    .title {
      font-weight: 600;
    }
  }
}
