.filters-summary {
  .deleteButton {
    display: flex;
    background-color: var(--color-danger-lighter);
    color: var(--color-gray-99);
    border: none;
    border-radius: var(--border-radius);
    padding: 8px 16px;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    margin: 10px 0;
    transition:
      background-color 0.3s ease,
      transform 0.2s ease;
  }
  
  .bottom-container {
    display: flex;

    .title {
      font-weight: 600;
    }
  }
}
