*,
*::before,
*::after {
  box-sizing: border-box;

  margin: 0;
  padding: 0;
}

input,
label,
select,
textarea,
button,
fieldset,
legend,
datalist,
output,
option,
optgroup {
  font: inherit;
}

ul {
  list-style: none;
}

a {
  color: inherit;

  text-decoration: none;
}
