.page {
  display: flex;
  /* grid-template-columns: 1fr 4fr; */
  flex-direction: column;
  align-items: start;
  gap: 1rem;

  margin-block-end: 2rem;

  .filters {
    display: flex
;
    gap: 1rem;
    flex-direction: column;
  
  }

  
}
.secondContainer{
  display: grid;
  grid-template-columns: 2fr 4fr;
  gap: 2rem;
}
